{{!< layout }}
<form method="post" action="/recipe/create">
    <label for="title">Recipe Title</label>
    <input type="text" id="title" name="title">
    <textarea id="ingredients" name="ingredients" ></textarea>
    <textarea id="steps" name="steps" ></textarea>
    <button>Create</button>
</form>
