<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{!-- <link href="css/style.css" rel="stylesheet"> --}}
</head>

<body>
  <div id="navbar">
    <div>CookingAdventures</div>
    {{#if user}}
        <div>Current user: <a href="/profile/{{user.id}}">{{user.username}}</div>
    {{else}}
        <a href="/login">login or signup</a>
    {{/if}}
  </div>

  {{!-- {{> @partial-block }} --}}
  {{{body}}}

  {{!-- <script src="js/script.js"></script> --}}
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>

</html>
