/* TODO https://www.joshwcomeau.com/css/custom-css-reset/ */
:root {
    --color-shades-dark: rgb(25,25,25);
}

html {
    box-sizing: border-box;
}

/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: system-ui, sans-serif;
}

label,
input,
button,
select,
legend,
textarea {
    /* both relative to document font size */
    font-size: 1.3rem;
    line-height: 1.2
}

form div {
    margin-top: 1rem;
}

form {
    width: 30em;
    max-width: 90%;
    margin: 0 auto;
}

label {
    margin-bottom: 0.4rem;
    display: block;
}

input,
textarea {
    padding: 0.4rem;
    width: 100%;
    border: 1px solid;
}

button {
  margin-top: 2rem;
  background: #3740ff;
  color: #fff;
  border: none;
  padding: 0.6rem;
}

button:hover,
button:focus {
  background: #272eb5;
  outline: 4px solid green;
}

/* Navbar */
#navbar a {
    --text-color: var(--color-shades-dark);
    border-block-end: 3px solid var(--color-shades-dark, transparent);
   color: var(--text-color);
   display: inline-block;
   margin-block-end: 0.5rem;
   margin-inline-end: 0.5rem;
   padding: 0.1rem;
   text-decoration: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:where#forgiving_selector_parsing */
a:where(:hover, :focus) {
    --border-color: var(--text-color);
}

